/* 전체 페이지 다크 테마 */
body, .home {
    background-color: #141414;
    color: #ffffff;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* 배너 스타일 */
/* Home.css */

/* 배너 이미지 확대 효과 */
.banner {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: flex-end; /* 배너의 하단에 내용 배치 */
    justify-content: center;
    color: white;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.banner:hover {
    transform: scale(1.05); /* 마우스 오버 시 배너 확대 */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
}

.banner-content {
    position: relative;
    max-width: 600px;
    text-align: left; /* 왼쪽 정렬 */
    margin-left: 20px; /* 배너 왼쪽과의 간격 */
    margin-bottom: 20px; /* 배너 하단과의 간격 */
    z-index: 1;
}
.content-section h2 {
    color: white;  /* 타이틀을 하얀색으로 설정 */
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: bold;
}
.banner h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1rem;
    line-height: 1.5;
}

.watch-button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914; /* 기본 빨간색 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.watch-button:hover {
    background-color: #f40612; /* hover 시 더 밝은 빨간색 */
    transform: scale(1.1); /* 크기 확대 효과 */
    box-shadow: 0px 8px 15px rgba(245, 6, 18, 0.5); /* hover 시 그림자 추가 */
}


.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}




.watch-button:hover {
    background-color: #f40612;
}

/* 섹션 스타일 */
.content-section {
    margin-bottom: 40px;
}

.content-section h2 {
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    padding-left: 50px;
    margin: 20px 0;
}

/* 수평 스크롤 컨테이너 */
.scroll-container {
    position: relative;
    display: flex;
    align-items: center;
}

.content-row-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 0 50px;
    scrollbar-width: none;
}

.content-row-container::-webkit-scrollbar {
    display: none;
}

/* 스크롤 버튼 */
.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.scroll-button.left {
    left: 10px;
}

.scroll-button.right {
    right: 10px;
}

.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
